* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    padding: 2rem;
}
h1 {
    color: #ff00cc;
}
form {
    width: 15rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
h3 {
    margin-top: 2rem;
}

.starting-xi-container div {
    width: 15rem;
    display: flex;
    justify-content: space-between;
}

.starting-xi-container div:hover {
    background: lightblue;
}